/*Палитра
цвет теекста заголовка - #FFFFFF;
цвет теекста подзаголовков - #212121;
цвет теекста - #757575;
текст силки при наведении - #2196F3;
текст в подвале - #FFFFFF; rgba(255, 255, 255, 0.6);
акцент -  #2196F3;
*/
:root {
  --logo-color: #212121;
  --logo-web-color: #2196f3;
  --link-color: #212121;
  --current-color: #2196f3;
  --hover-active-focus-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --hero-title-color: #ffffff;
  --footer-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --adress-color: #ffffff;
  --button-color: #ffffff;
  --button-hover-color: #2196f3;
  --filters-button-color: #212121;
}
/* Главная */
body {
  background: #ffffff;
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
/*---------------------------------------------------------------------------------------------------*/
/*Шапка сторінки (верхня лінія)*/
/*Логотип*/
.logo {
  color: var(--logo-color);
  font-family: Raleway;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-web {
  color: var(--logo-web-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
/*Навигацыя*/
.menu .menu-link {
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.menu .menu-link.current {
  color: var(--current-color);
}
.menu-link:active,
.menu-link:hover,
.menu-link:focus {
  color: var(--hover-active-focus-color);
}
/*Номер телефона и электронная почта*/
.contact .contact-link {
  color: var(--link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-link:active,
.contact-link:hover,
.contact-link:focus {
  color: var(--hover-active-focus-color);
}
/*---------------------------------------------------------------------------------------------------*/
/*Унікальний контент сторінки*/
.section-title {
  color: var(--title-color);
  font-weight: 700;
}
.section > .section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-text {
  color: var(--text-color);
}

/*Шапка*/
.hero {
  background: #2f303a;
}
.hero-title {
  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button:active,
.button:hover,
.button:focus {
  background: #ffffff;
  color: var(--button-hover-color);
}
/*Особливість*/
.section-list-hobbies-specialty .section-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-list-hobbies-specialty .section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
/*Чим ми займаемося*/

/*Наша команда*/
.section-subtitle {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.35;
  text-align: center;
}
.section-list-team .section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  text-align: center;
}

/*---------------------------------------------------------------------------------------------------*/
/*Підвал сторінки*/
.footer {
  background: #2f303a;
}
/*Логотип*/
.logo-footer {
  color: var(--footer-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
/*Адрес, номер телефона и электронная почта*/
.adress {
  color: var(--adress-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.contact-footer .contact-footer-link {
  color: var(--footer-link-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
.contact-footer-link:active,
.contact-footer-link:hover,
.contact-footer-link:focus {
  color: var(--hover-active-focus-color);
}
/*---------------------------------------------------------------------------------------------------*/
/* страница портфолио */
/* кнопки фильтра */
.filters-button {
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--filters-button-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.filters-button:active,
.filters-button:hover,
.filters-button:focus {
  background: #2196f3;
  color: var(--button-color);
}
.list-project a {
  text-decoration: none;
}

.list-project .section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-project .section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}
